{% load static %}
<footer class="footer">
    <div class="footer-container">
        <div class="footer-section">
            <h4>Navegación</h4>
            <ul class="footer-links">
                <li><a href="{% url 'administracion' %}">Admin </a></li>
            </ul>
        </div>
        <div class="footer-section">
            <h4>Contacto</h4> 
            <p><i class='bx bxs-phone'></i> +54 9 3624 241941</p>
            <p><i class='bx bxs-envelope'></i> max.roc.200@gmail.com</p>
        </div>
    </div>
    <div class="footer-bottom">
        <p>&copy; 2024 MF Software. Todos los derechos reservados.</p>
    </div>
</footer>